/* Navigation bar */
#navbar{
    flex-direction: column;
}
.li-type a{
    margin: 4px;
    /* padding: 2px; */
    font-size: 18px;
    
}

.btn{
    margin-left: 0px;
    font-size: 20px;
}
/* Home section */
.home{
    padding: 0px;
    margin-bottom: 5px;
}
.home .heading{
    font-size: 2.6rem;
    margin: 3px;
    text-align: center;
}

.home .para{
    font-size: 0.8rem;
    text-align: center;
    padding: 2px;
}

/* room section */
#rooms-section .heading{
    text-align: center;
    width: 100%;
    font-size: 2.6rem;
}

#rooms-items{
    flex-direction: column;
    align-items: center;
}

.room{
    width: 280px;
}

.h-primary{
    font-size: 22px;
    padding: 3px;
}

.para-primary{
    font-size: 12px;
    padding: 3px;
}

.img-primary{
    width: 280px;
    height: 170px;
    padding: 3px;
}

.btn1{
    padding: 2px;
    width: 130px;
    font-size: 17px;
}

/* booking section */
#book-section::before{
    height: 45%;
    margin-bottom: 0;
}
.form-group{
    flex-direction: row;
}

#book-section h1{
    margin-top: 20px;
    font-size: 2.6rem;
}

#form{
    margin: 20px 10px;
    /* margin-bottom: 20px; */
}

#form .tab{
    margin: 0;
    padding: 3px;
    width: 100%;
    font-size: 11px;
}

.column input{
    width: 60px;
    height: 10px;
}

.column textarea{
    width: 60px;
    height: 15px;
}

.btn2{
    font-size: 18px;
    padding: 2px;
    margin: 3px;
    width: 220px;
    height: 30px;
    margin-bottom: 5px;
}
/* Contact us section */

#contact h1{
    padding: 10px;
    font-size: 2.6rem;
}

#contact h2{
    padding: 5px;
    font-size: 1rem;
    text-align: center;
}

/* footer section */

#foot h2{
    font-size: 0.8rem;
}

.last{
    margin-bottom: 0;
}